<div class="welcome">
	<h1>THE<br>MUSIC LAB</h1>

	<div class="checkout">
		<p>Check out some tunes.</p>

		<button type="button" class="btn btn-success btn-lg"><%= link_to 'The Lab', albums_path(@album) %></button>
	</div>
</div>
