<!DOCTYPE html>
<html>
<head>
	<title>New Blog Entry</title>
</head>
<body>
	<h1>Write a New Blog Entry</h1>
	<form method="POST" action="/entries">
		<input type="text" name="date" placeholder="Date">
		<br/>
		<input type="text" name="title" placeholder="Title">
		<br/>
		<textarea rows="4" cols="50" type="text" name="post" placeholder="Blog On"></textarea>
		<br/>
		<input type="submit">
	</form>

</body>
</html>