<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href='style/style.css' />
	<title>Bloggin</title>
</head>
<body>
	<h1>I'm Just a Blog Machine</h1>

	<button><a href="http://localhost:3000/entries">Entries</a></button>
</body>
</html>