<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<title>What's Your Movie?</title>
</head>
<body>
	<div class="container col-sm-12">
	<h1>What Are You Watching?</h1>

	<form method="GET" action="/results">
		<img class="col-sm-6" src="http://barkpost.com/wp-content/uploads/2013/11/sad-dog1.jpg" alt="Responsive image"width="200px" >
		<input type="text" name="title" placeholder="Title" class="col-sm-6">
		<br/><br/>
		
		<button type="button" class="btn btn-danger btn-lg col-sm-3">Search</button>
	</form>
	</div>
	<br/>
	
	
	
	


</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<title>All Entries</title>
</head>
<body>
	<h1>BLOG LOG</h1>
	
</body>
</html> -->